.movies-list {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 70px 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  gap: 27px 24px;
  justify-content: center;
}

.movies-list__empty {
  margin: 0;
  padding: 0;
  text-align: center;
}

.movies-list__button-load {
  display: block;
  width: 320px;
  margin: 50px auto 80px;
  box-sizing: border-box;
  padding: 11px 60px 9px;
  background: #2F2F2F;
  border: 0;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .movies-list {
    grid-template-columns: repeat(2, 339px);
    gap: 30px 36px;
  }
}

@media screen and (max-width: 750px) {
  .movies-list {
    padding: 40px 0 30px;
    grid-template-columns: 300px;
    gap: 13px;
  }
}

@media screen and (max-width: 520px) {
  .movies-list__button-load {
    width: 240px;
    padding: 11px 20px 9px;
  }
}
