.page404 {
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  text-align: center;
}

.page404__container {
  align-self: center;
  position: relative;
}

.page404__code {
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169.43px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.page404__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.page404__link {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 60px;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
}

@media screen and (max-width: 1250px) {
  .page404__link {
    bottom: 222px;
  }
}

@media screen and (max-width: 750px) {
  .page404 {
    width: 300px;
  }

  .page404__code {
    font-size: 80px;
    line-height: 97px;
    margin: 0 0 10px;
  }

  .page404__title {
    font-size: 12px;
    line-height: 15px;
  }

  .page404__link {
    bottom: 30px;
    font-size: 12px;
    line-height: 15px;
  }
}