.app {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.app__header {
  width: calc(100% - 2 * 70px);
  max-width: 1140px;
  box-sizing: border-box;
  margin: 0 auto;
}

.app__promo {
  width: calc(100% - 2 * 20px);
  max-width: 1200px;
  margin: 20px auto 0;
}

.app__container {
  width: calc(100% - 2 * 70px);
  max-width: 1140px;
  margin: 0 auto;
}

.app__auth {
  width: 100%;
  max-width: 396px;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1250px) {
  .app__header {
    width: calc(100% - 2 * 30px);
  }

  .app__container {
    width: calc(100% - 2 * 50px);
  }

  .app__auth {
    padding: 232px 0;
  }
}

@media screen and (max-width: 750px) {
  .app__header {
    width: calc(100% - 2 * 14px);
  }

  .app__container {
    width: calc(100% - 2 * 14px);
  }

  .app__promo {
    width: calc(100% - 2 * 14px);
    margin: 14px 14px 0;
  }

  .app__auth {
    padding: 56px 30px 30px;
  }
}


.link {
  opacity: 1;
  transition: opacity .25s ease;
}

.link:hover {
  opacity: .8;
}