.page {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__header {
  width: calc(100% - 2 * 70px);
  max-width: 1140px;
  margin: 18px auto 0;
}

.page__promo {
  width: calc(100% - 2 * 20px);
  max-width: 1200px;
  margin: 20px auto 0;
}

.page__about-project {
  width: calc(100% - 2 * 70px);
  max-width: 1140px;
  margin: 0 auto;
}

.page__about-me {
  width: calc(100% - 2 * 70px);
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .page__header {
    width: calc(100% - 2 * 30px);
  }

  .page__about-project {
    width: calc(100% - 2 * 50px);
    margin: 0 auto;
  }

  .page__about-me {
    width: calc(100% - 2 * 50px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .page__header {
    width: calc(100% - 2 * 14px);
  }

  .page__promo {
    width: calc(100% - 2 * 14px);
    margin: 14px 14px 0;
  }

  .page__about-project {
    width: calc(100% - 2 * 18px);
    margin: 0 auto;
  }

  .page__about-me {
    width: calc(100% - 2 * 14px);
    margin: 0 auto;
  }
}


.link {
  opacity: 1;
  transition: opacity .25s ease;
}

.link:hover {
  opacity: .8;
}