.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.alert_success {
  background-color: green;
}

.alert_error {
  background: red;
}

.alert__container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 10px;
}

.alert__text {
  margin: 0;
}

.alert__button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.alert__icon {
  width: 16px;
}