.register {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 40px;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
}

.register__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.register__box-submit {
  align-self: flex-end;
}

.register__signin-text {
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.register__signin-link {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .register {
    row-gap: 50px;
  }

  .register__title {
    margin: 0 0 30px;
    text-align: center;
  }

  .register__signin-text {
    font-size: 12px;
    line-height: 15px;
  }
}