.navtab__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: min-content;
  justify-content: center;
  gap: 10px;
}

.navtab__item {
  box-sizing: border-box;
  padding: 10px 0;
  background: #303030;
  border-radius: 10px;
  text-align: center;
}

.navtab__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .navtab__list {
    grid-template-columns: repeat(3, 82px);
    gap: 6px;
  }

  .navtab__item {
    padding: 5px 0;
  }

  .navtab__link {
    font-size: 10px;
    line-height: 16px;
  }
}